Repository gardener/etcd-druid, pull requests merged in 2021-04, with the labels that each got.

#161 Fix test failures with bootstrap script change
  controllers/constants_test.go
Labels: area/backup, kind/bug, needs/ok-to-test, priority/blocker, reviewed/lgtm, size/xs

#156 Enhance multi-node proposal for backup health
  Makefile
  docs/proposals/multi-node/README.md
  docs/proposals/multi-node/etcd-backup-restore-work-flows-life-cycle.txt
  docs/proposals/multi-node/images/etcd-backup-restore-work-flows-life-cycle.png
Labels: area/control-plane, area/high-availability, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#133 Moved out statefulset status update for ETCD to separate controller.
  controllers/controller_ref_manager.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcd_custodian_controller.go
  controllers/suite_test.go
  main.go
Labels: needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#153 Introducing constants for snapshot compression policy
  api/v1alpha1/etcd_types.go
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  controllers/etcd_controller.go
Labels: needs/ok-to-test, reviewed/do-not-merge, size/xs

#163 Added mutex lock before every update of ETCD instance.
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcd_custodian_controller.go
Labels: needs/ok-to-test, needs/review, size/s

#157 Make auto-compaction-mode and auto-compaction-retention configurable
  api/v1alpha1/etcd_types.go
  charts/etcd/templates/etcd-bootstrap-configmap.yaml
  charts/etcd/templates/etcd-statefulset.yaml
  charts/etcd/values.yaml
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  config/samples/druid_v1alpha1_etcd.yaml
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
Labels: needs/ok-to-test, needs/review, size/m

#162 Move bootstrap script out of etcd-druid
  README.md
  api/v1alpha1/etcd_types_test.go
  charts/etcd/templates/etcd-configmap.yaml
  charts/etcd/templates/etcd-statefulset.yaml
  charts/images.yaml
  config/default/manager_image_patch.yaml
  config/samples/druid_v1alpha1_etcd.yaml
  controllers/constants_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
Labels: area/backup, area/robustness, component/etcd-druid, kind/enhancement, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, priority/blocker, reviewed/do-not-merge, size/l
