Repository gardener/etcd-druid, pull requests merged in 2021-11, with the labels that each got.

#246 Updated the MultiNode proposal: To take out-of-sync snapshots delegate the incoming http request to backup-leader.
  docs/proposals/multi-node/README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, status/on-hold

#233 Added role, rolebinding, serviceaccount, and environment variables.
  charts/etcd/templates/etcd-role.yaml
  charts/etcd/templates/etcd-rolebinding.yaml
  charts/etcd/templates/etcd-serviceaccount.yaml
  charts/etcd/templates/etcd-statefulset.yaml
  controllers/controller_ref_manager.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
Labels: area/backup, area/disaster-recovery, area/high-availability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#239 [GEP-17] Add owner check configuration to Etcd resource and controller
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/validation/etcd.go
  api/validation/etcd_test.go
  charts/etcd/templates/etcd-statefulset.yaml
  charts/etcd/values.yaml
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  config/default/manager_image_patch.yaml
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/control-plane-migration, merge/squash

#248 Use g/g chart applier
  controllers/etcd_controller.go
  go.mod
  pkg/chartrenderer/default.go
  pkg/chartrenderer/renderer.go
  pkg/chartrenderer/sorter.go
  pkg/client/kubernetes/apply.go
  pkg/client/kubernetes/chartapplier.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/types.go
  vendor/k8s.io/client-go/discovery/cached/memory/memcache.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xl

#234 Adding functionality to start copy job
  api/v1alpha1/etcd_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/validation/etcd.go
  api/validation/etcd_test.go
  api/validation/etcdcopybackupstask.go
  api/validation/etcdcopybackupstask_test.go
  charts/etcd-copy-backups/Chart.yaml
  charts/etcd-copy-backups/templates/etcd-copy-backups-job.yaml
  charts/etcd-copy-backups/values.yaml
  config/crd/bases/druid.gardener.cloud_etcdcopybackupstasks.yaml
  config/crd/kustomization.yaml
  config/samples/druid_v1alpha1_etcdcopybackupstask.yaml
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcdcopybackupstask_controller.go
  controllers/etcdcopybackupstask_controller_test.go
  main.go
  pkg/utils/miscellaneous.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, area/control-plane-migration, merge/squash

#256 Move ephemeral volumes to follow-up
  docs/proposals/multi-node/README.md
Labels: area/documentation, kind/epic, needs/ok-to-test, needs/review, size/s

#257 Add docforge manifest
  .docforge/manifest.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#235 Enabled jobs instead of cronjobs to take care of running compaction.
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/etcd/templates/etcd-compaction-cronjob.yaml
  charts/etcd/values.yaml
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  config/rbac/role.yaml
  controllers/compaction_lease_controller.go
  controllers/compaction_lease_controller_test.go
  controllers/config/compaction.go
  controllers/controller_ref_manager.go
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcdcopybackupstask_controller.go
  docs/compactor.md
  main.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_test.go
Labels: area/performance, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#258 Several improvements for compaction feature
  charts/etcd/templates/etcd-statefulset.yaml
  controllers/compaction_lease_controller.go
  controllers/compaction_lease_controller_test.go
  controllers/config/compaction.go
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  docs/compactor.md
  main.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#260 Fix `etcd.status.clusterSize` update
  api/v1alpha1/etcd_types.go
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  controllers/controller_ref_manager.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcd_custodian_controller.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#263 Fix etcd update conflicts
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcd_custodian_controller.go
  main.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/changes, needs/review, size/m, priority/1

#264 [release-v0.7] Automated cherry pick of #263: Fix etcd update conflicts
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  controllers/etcd_custodian_controller.go
  main.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_test.go
Labels: area/quality, kind/bug, needs/review, reviewed/ok-to-test, size/m
