Repository gardener/etcd-druid, pull requests merged in 2021-07, with the labels that each got.

#197 Added cronjob to schedule regular backup compaction
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/etcd/templates/etcd-compaction-cronjob.yaml
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  controllers/controller_ref_manager.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/etcd_types.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/zz_generated.deepcopy.go
Labels: area/backup, kind/enhancement, reviewed/lgtm, size/xl

#202 Fix reconciliation predicates.
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_test.go
Labels: area/control-plane, kind/bug, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#205 Remove operation annotation before reconciling etcd resource
  controllers/etcd_controller.go
Labels: area/control-plane, component/etcd-druid, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#207 Introduced member leases to work-around limitations in Server-Side-Apply
  docs/proposals/multi-node/README.md
  docs/proposals/multi-node/etcd-backup-restore-work-flows-life-cycle.txt
  docs/proposals/multi-node/images/etcd-backup-restore-work-flows-life-cycle.png
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
