Repository gardener/etcd-druid, pull requests merged in 2021-12, with the labels that each got.

#270 Editted label for compaction jobs to help scheduling
  controllers/compaction_lease_controller.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#250 Deploy/maintain the correct PodDisruptionBudget configuration according to the Etcd resource status conditions
  .gitignore
  charts/etcd/templates/etcd-poddisruptionbudget.yaml
  controllers/controller_ref_manager.go
  controllers/etcd_controller.go
  controllers/etcd_custodian_controller.go
  controllers/etcd_custodian_controller_test.go
Labels: area/high-availability, kind/enhancement, reviewed/lgtm, size/l

#272 Editted label for compaction jobs to help scheduling (#270)
  controllers/compaction_lease_controller.go
Labels: needs/review, reviewed/ok-to-test, size/xs

#277 Disable `ServiceAccount automount when `--disable-etcd-serviceaccount-automount=true`
  charts/etcd/templates/etcd-serviceaccount.yaml
  charts/etcd/values.yaml
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  main.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
