Repository gardener/etcd-druid, pull requests merged in 2021-08, with the labels that each got.

#214 Use Leases for etcd member health checks
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  controllers/config/custodian.go
  controllers/controllers_suite_test.go
  controllers/etcd_custodian_controller.go
  main.go
  pkg/health/condition/check_all_members.go
  pkg/health/condition/check_all_members_test.go
  pkg/health/condition/check_ready.go
  pkg/health/condition/check_ready_test.go
  pkg/health/etcdmember/builder.go
  pkg/health/etcdmember/builder_test.go
  pkg/health/etcdmember/check_ready.go
  pkg/health/etcdmember/check_ready_test.go
  pkg/health/etcdmember/types.go
  pkg/health/status/check.go
  pkg/health/status/check_test.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/etcd_types.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/zz_generated.deepcopy.go
Labels: kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, area/scalability

#132 Added the design doc for backup compation support.
  docs/compactor.md
Labels: lifecycle/rotten, needs/ok-to-test, needs/changes, needs/review, size/m

#220 Updated compaction cronjob to use an emptyDir as volume and add resource values for the pod
  charts/etcd/templates/etcd-compaction-cronjob.yaml
  charts/etcd/values.yaml
  controllers/controllers_suite_test.go
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  main.go
Labels: area/backup, area/high-availability, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/m

#216 Updating ETCD CRD to add two fields 'etcdSnapshotTimeout' and 'etcdDefragTimeout' for more configurability of etcd operation timeouts
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/etcd/templates/etcd-compaction-cronjob.yaml
  charts/etcd/templates/etcd-statefulset.yaml
  charts/etcd/values.yaml
  config/crd/bases/druid.gardener.cloud_etcds.yaml
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/etcd_types.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/zz_generated.deepcopy.go
Labels: area/backup, area/disaster-recovery, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/s

#222 Remove finalizers after waiting for statefulset.
  controllers/etcd_controller.go
Labels: area/control-plane, area/cost, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/s, area/testing

#225 [github.com/gardener/etcd-custom-image:v3.4.13-bootstrap->v3.4.13-bootstrap-1]
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#226 [github.com/gardener/etcd-custom-image:v3.4.13-bootstrap->v3.4.13-bootstrap-1]
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs
