Repository gardener/etcd-druid, pull requests merged in 2022-06, with the labels that each got.

#353 Fix accidental member lease deletion
  charts/etcd/templates/etcd-statefulset.yaml
  controllers/etcd_controller_test.go
  pkg/component/etcd/lease/lease_member.go
  pkg/component/etcd/lease/lease_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/changes, needs/review, size/s

#355 github.com/gardener/etcd-custom-image:v3.4.13-bootstrap-4->etcd-custom-image:v3.4.13-bootstrap-5
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#330 Fix copying ETCd backups between OCS buckets
  charts/etcd-copy-backups/templates/etcd-copy-backups-job.yaml
  charts/etcd/templates/etcd-statefulset.yaml
  controllers/compaction_lease_controller.go
  controllers/etcdcopybackupstask_controller_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/changes, size/s, area/control-plane-migration, merge/squash

#357 Update the readiness/liveness Probes configuration.
  charts/etcd/templates/etcd-statefulset.yaml
  controllers/etcd_controller_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, merge/squash
