Repository gardener/etcd-druid, pull requests merged in 2022-09, with the labels that each got.

#423 Remove startup and liveness probes
  controllers/etcd_controller_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/1, needs/cherry-pick

#424 Remove startup and liveness probes
  controllers/etcd_controller_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#410 Update to Golang 1.18.5
  .ci/pipeline_definitions
  Dockerfile
  go.mod
  go.sum
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xs

#414 Added the metrics needed to capture for multi-node etcd.
  docs/multinode-metrics.md
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#427 github.com/gardener/etcd-custom-image:v3.4.13-bootstrap-6->v3.4.13-bootstrap-7
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#422 Sort members in etcd status
  pkg/health/etcdmember/builder.go
  pkg/health/etcdmember/builder_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#421 Peer TLS not enabled after rolling update
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  pkg/component/etcd/lease/lease.go
  pkg/component/etcd/lease/lease_member.go
  pkg/component/etcd/lease/lease_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl, merge/squash

#431 Update golang to 1.18.6
  .ci/pipeline_definitions
  Dockerfile
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#432 [ci:component:github.com/gardener/etcd-custom-image:v3.4.13-bootstrap-7->v3.4.13-bootstrap-8]
  charts/images.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs

#434 [rel-v0.13] Cherry pick commits for release v0.13.1
  .ci/pipeline_definitions
  Dockerfile
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/images.yaml
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  controllers/etcd_controller.go
  controllers/etcd_controller_test.go
  pkg/component/etcd/lease/lease.go
  pkg/component/etcd/lease/lease_member.go
  pkg/component/etcd/lease/lease_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/control-plane, area/high-availability, area/security, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#415 Enhance BackupReady condition handling
  pkg/health/condition/builder.go
  pkg/health/condition/builder_test.go
  pkg/health/condition/check_backup_ready.go
  pkg/health/condition/check_backup_ready_test.go
  pkg/health/status/check.go
  pkg/health/status/check_test.go
Labels: area/backup, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/m, merge/squash

#418 Add e2e tests for multi-node etcd
  docs/development/local-e2e-tests.md
  test/e2e/etcd_backup_test.go
  test/e2e/etcd_multi_node_test.go
  test/e2e/suite_test.go
  test/e2e/utils.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, area/testing

#440 [Cherry Pick] ci:component:github.com/gardener/etcd-backup-restore:v0.20.1->v0.20.2
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#441 Remove BackupReady condition from PDB calculation
  controllers/etcd_custodian_controller.go
  controllers/etcd_custodian_controller_test.go
  docs/proposals/multi-node/README.md
Labels: area/high-availability, kind/bug, needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/s, needs/cherry-pick

#443 [hotfix-v0.13] Remove BackupReady condition from PDB calculation (#441)
  controllers/etcd_custodian_controller.go
  controllers/etcd_custodian_controller_test.go
  docs/proposals/multi-node/README.md
Labels: area/high-availability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#438 Support annotations for etcd client service
  api/v1alpha1/etcd_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  pkg/component/etcd/service/service_client.go
  pkg/component/etcd/service/values.go
  pkg/component/etcd/service/values_helper.go
  pkg/component/etcd/service/values_helper_test.go
Labels: area/control-plane, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/m
