Repository gardener/etcd-druid, pull requests merged in 2023-01, with the labels that each got.

#494 Remove CustomReporter from envtest
  api/v1alpha1/suite_test.go
  controllers/controllers_suite_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/printer/ginkgo.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/printer/prow.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#495 Update golang build version to `v1.19.4`
  .ci/pipeline_definitions
  Dockerfile
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#514 Remove etcd-process-name flag from statefulset
  controllers/etcd_controller_test.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, priority/1
