Repository gardener/etcd-druid, pull requests merged in 2023-11, with the labels that each got.

#713 Simplify `Localstack` setup by utilizing S3 endpoint support
  Makefile
  config/samples/druid_v1alpha1_etcd_localstack.yaml
  config/samples/etcd-secret-localstack.yaml
  docs/development/getting-started-locally-localstack.md
  hack/ci-e2e-kind.sh
  hack/deploy-localstack.sh
  hack/e2e-test/infrastructure/overlays/aws/common/files/common.sh
Labels: area/dev-productivity, area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#697 Updated recovery from permanent quorum loss operation guide.
  docs/operations/recovery-from-permanent-quorum-loss-in-etcd-cluster.md
Labels: needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/s

#724 Update alpine image version to 3.18.4
  charts/images.yaml
  pkg/component/etcd/statefulset/statefulset_test.go
  test/integration/controllers/compaction/reconciler_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#711 Reconciles compaction job on job status change along with snapshot lease change
  controllers/compaction/reconciler.go
  controllers/compaction/register.go
  controllers/predicate/predicate.go
  controllers/predicate/predicate_test.go
  test/integration/controllers/compaction/reconciler_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#726 Upgrade etcd-backup-restore from `v0.24.6 -> v0.24.7` and Upgrade etcd-backup-restore-distroless from `v0.26.0 -> v0.27.0`
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#723 Adds e2e test for compaction
  charts/druid/templates/controller-deployment.yaml
  charts/druid/values.yaml
  controllers/compaction/reconciler.go
  skaffold.yaml
  test/e2e/etcd_backup_test.go
  test/e2e/etcd_compaction_test.go
  test/e2e/suite_test.go
Labels: area/control-plane, kind/test, needs/ok-to-test, reviewed/lgtm, size/m

#727 Upgrade to Go `1.21.4`
  .ci/pipeline_definitions
  Dockerfile
  config/default/manager_image_patch.yaml
  go.mod
  go.sum
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/s
