Repository gardener/etcd-druid, pull requests merged in 2023-07, with the labels that each got.

#594 Fixes for etcd status fields
  api/v1alpha1/types_etcd.go
  charts/druid/charts/crds/templates/10-crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  controllers/custodian/reconciler.go
  controllers/etcd/etcd_suite_test.go
  controllers/etcd/reconciler.go
  pkg/component/etcd/poddisruptionbudget/poddisruptionbudget_test.go
  pkg/component/etcd/poddisruptionbudget/values_helper.go
  pkg/health/condition/check_all_members.go
  pkg/health/condition/check_all_members_test.go
  pkg/health/condition/check_ready.go
  pkg/health/condition/check_ready_test.go
  test/e2e/etcd_backup_test.go
  test/integration/controllers/custodian/reconciler_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/utils/etcd.go
Labels: area/control-plane, kind/bug, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#632 Use structured log messages
  controllers/compaction/reconciler.go
  controllers/custodian/reconciler.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/secret/reconciler.go
  controllers/secret/reconciler_test.go
  main.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/utils/store.go
  test/e2e/etcd_backup_test.go
  test/e2e/etcd_multi_node_test.go
  test/e2e/suite_test.go
  test/e2e/utils.go
Labels: area/logging, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#620 Update druid to deploy distroless etcd-wrapper and etcd-backup-restore
  charts/images.yaml
  controllers/compaction/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
  test/e2e/etcd_backup_test.go
  test/e2e/etcd_multi_node_test.go
  test/e2e/utils.go
  test/integration/controllers/compaction/reconciler_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
  test/utils/etcdcopybackupstask.go
Labels: area/security, kind/epic, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, merge/squash, area/compliance

#636 Print build version and go runtime info
  .ci/build
  .dockerignore
  main.go
  pkg/version/version.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#637 Cherry-pick PRs for v0.18.4
  .ci/build
  .ci/pipeline_definitions
  .dockerignore
  api/v1alpha1/types_etcd.go
  charts/druid/charts/crds/templates/10-crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  controllers/compaction/reconciler.go
  controllers/custodian/reconciler.go
  controllers/etcd/etcd_suite_test.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/secret/reconciler.go
  controllers/secret/reconciler_test.go
  go.mod
  go.sum
  main.go
  pkg/component/etcd/poddisruptionbudget/poddisruptionbudget_test.go
  pkg/component/etcd/poddisruptionbudget/valueshelper.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/health/condition/check_all_members.go
  pkg/health/condition/check_all_members_test.go
  pkg/health/condition/check_ready.go
  pkg/health/condition/check_ready_test.go
  pkg/utils/store.go
  pkg/version/version.go
  test/e2e/etcd_backup_test.go
  test/e2e/etcd_multi_node_test.go
  test/e2e/suite_test.go
  test/e2e/utils.go
  test/integration/controllers/custodian/reconciler_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/utils/etcd.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#638 Replaces the use of `etcd-custom-image` with `etcd-wrapper` in tests
  README.md
  api/v1alpha1/types_etcd_test.go
  pkg/component/etcd/statefulset/statefulset_test.go
  test/utils/etcd.go
Labels: kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#639 [ci:component:github.com/gardener/etcd-backup-restore:v0.24.1->v0.24.2]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted
