Repository gardener/etcd-druid, pull requests merged in 2023-12, with the labels that each got.

#729 Improve computation of full snapshot interval for `BackupReady` condition
  go.mod
  pkg/health/condition/builder.go
  pkg/health/condition/check_all_members.go
  pkg/health/condition/check_all_members_test.go
  pkg/health/condition/check_backup_ready.go
  pkg/health/condition/check_backup_ready_test.go
  pkg/health/condition/check_ready.go
  pkg/health/condition/check_ready_test.go
  pkg/health/condition/types.go
  pkg/health/status/check.go
  pkg/health/status/check_test.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Labels: area/backup, area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, merge/squash

#721 Documentation for Druid local setup
  Makefile
  README.md
  docs/development/getting-started-locally.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#735 switch GCR -> Artifact-Registry
  .ci/pipeline_definitions
  Makefile
  README.md
  api/v1alpha1/types_etcd_test.go
  charts/druid/values.yaml
  charts/images.yaml
  config/default/manager_image_patch.yaml
  pkg/component/etcd/statefulset/statefulset_test.go
  skaffold.yaml
  test/integration/controllers/compaction/reconciler_test.go
  test/utils/etcd.go
  test/utils/etcdcopybackupstask.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#722 Documentation for all controllers of etcd-druid
  docs/concepts/controllers.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, merge/squash

#737 Add support for overriding storage API endpoint for GCS
  controllers/compaction/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/utils/envvar.go
  test/integration/controllers/compaction/reconciler_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
Labels: area/backup, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/gcp, size/xl, needs/cherry-pick
