Repository gardener/etcd-druid, pull requests merged in 2023-08, with the labels that each got.

#647 Improved scale-up detection.
  pkg/component/etcd/statefulset/statefulset.go
Labels: area/high-availability, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#654 Upgrade etcd-backup-restore to v0.24.3 and v0.25.1
  charts/images-wrapper.yaml
  charts/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#629 Introduce persona-based docs
  .docforge/manifest.yaml
  README.md
  docs/development/_index.md
  docs/development/etcd-network-latency.md
  docs/images/controller.png
  docs/images/defrag.png
  docs/operation/_index.md
  docs/operations/Recover_From_Etcd_Permanent_Quorum_Loss.md
  docs/operations/compaction-metrics.md
  docs/operations/images/scale-up-sequenceDiagram.png
  docs/operations/multinode-metrics.md
  docs/operations/scale-up-sequenceDiagram.txt
  docs/operations/scale-up.md
  docs/operations/single_member_restoration.md
  docs/proposals/_index.md
  docs/proposals/compactor/README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#661 Fix failing e2e-test infra setup job
  hack/e2e-test/infrastructure/base/job.yaml
  hack/e2e-test/infrastructure/overlays/aws/common/files/common.sh
  hack/e2e-test/infrastructure/overlays/azure/common/files/common.sh
  hack/e2e-test/infrastructure/overlays/gcp/common/files/common.sh
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#660 Drop redundant charts
  charts/etcd/Chart.yaml
  charts/etcd/charts/utils-templates/Chart.yaml
  charts/etcd/charts/utils-templates/README.md
  charts/etcd/charts/utils-templates/templates/_resources.tpl
  charts/etcd/charts/utils-templates/templates/_versions.tpl
  charts/etcd/values.yaml
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#662 Fix issue with local provider for etcd-backup-restore distroless image
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, needs/cherry-pick

#651 Extend `Etcd` CRD and `etcd-druid` to Support Configurable Delta Snapshot Retention
  api/v1alpha1/types_etcd.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/druid/charts/crds/templates/10-crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/10-crd-druid.gardener.cloud_etcds.yaml
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/backup, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/m

#663 [hotfix-0.19] Fix issue with Local provider for etcd-backup-restore distroless image (#662) and fix failing e2e-test infra setup job (#661)
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  hack/e2e-test/infrastructure/base/job.yaml
  hack/e2e-test/infrastructure/overlays/aws/common/files/common.sh
  hack/e2e-test/infrastructure/overlays/azure/common/files/common.sh
  hack/e2e-test/infrastructure/overlays/gcp/common/files/common.sh
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  test/integration/controllers/etcd/reconciler_test.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#664 Fix unit tests in pkg/component/etcd/statefulset.
  pkg/component/etcd/statefulset/statefulset_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#666 Adds a unit tests for scale-up annotation.
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/m, area/testing

#659 Add DEP template, restructure docs
  .docforge/manifest.yaml
  README.md
  docs/development/etcd-network-latency.md
  docs/development/local-e2e-tests.md
  docs/operations/compaction-metrics.md
  docs/operations/metrics.md
  docs/operations/multinode-metrics.md
  docs/operations/recovery-from-permanent-quorum-loss-in-etcd-cluster.md
  docs/operations/restoring-single-member-in-multi-node-etcd-cluster.md
  docs/proposals/00-template.md
  docs/proposals/01-multi-node-etcd-clusters.md
  docs/proposals/02-snapshot-compaction.md
  docs/proposals/03-scaling-up-an-etcd-cluster.md
  docs/proposals/assets/01-etcd-backup-restore-work-flows-life-cycle.png
  docs/proposals/assets/01-etcd-backup-restore-work-flows-life-cycle.txt
  docs/proposals/assets/01-etcd-member-initialization-sequence.png
  docs/proposals/assets/01-etcd-member-initialization-sequence.txt
  docs/proposals/assets/01-multi-node-etcd.drawio
  docs/proposals/assets/01-multi-node-etcd.png
  docs/proposals/assets/03-scale-up-sequenceDiagram.png
  docs/proposals/assets/03-scale-up-sequenceDiagram.txt
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#673 [Bug] Moved all default images to a single file
  charts/images-wrapper.yaml
  charts/images.yaml
  controllers/compaction/config.go
  controllers/compaction/reconciler.go
  controllers/etcd/config.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/config.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  controllers/utils/reconciler.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/utils/image.go
  pkg/utils/image_test.go
  test/integration/controllers/etcd/etcd_suite_test.go
  test/integration/controllers/etcd/reconciler_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#674 [hotfix-v0.19] Moved all default images to a single file #673
  charts/images-wrapper.yaml
  charts/images.yaml
  controllers/compaction/config.go
  controllers/compaction/reconciler.go
  controllers/etcd/config.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/config.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  controllers/utils/reconciler.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/utils/image.go
  pkg/utils/image_test.go
  test/integration/controllers/etcd/etcd_suite_test.go
  test/integration/controllers/etcd/reconciler_test.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/m

#656 Update etcd-custom-image to `v3.4.26-2`
  charts/images.yaml
  pkg/component/etcd/statefulset/values_helper.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, merge/squash, area/compliance
