Repository gardener/etcd-druid, pull requests merged in 2023-02, with the labels that each got.

#517 Cleanup CI scripts
  .ci/build
  .ci/common.sh
  .ci/test
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#523 Fix CI pipeline cleanup
  .ci/build
  .ci/common.sh
  .ci/test
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#526 Fix `make test-cov`
  Makefile
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs, area/testing

#525 Use JSON logger with ISO8601 time encoder for controller manager
  go.mod
  main.go
Labels: area/logging, kind/bug, needs/ok-to-test, needs/review, size/xs

#521 Removed unnecessary lebel selectors from the services created by Druid.
  pkg/component/etcd/service/service.go
  pkg/component/etcd/service/service_client.go
  pkg/component/etcd/service/service_peer.go
  pkg/component/etcd/service/service_test.go
  pkg/component/etcd/service/values_helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/changes, size/s
