Repository gardener/etcd-druid, pull requests merged in 2023-05, with the labels that each got.

#581 Block public access to S3 bucket as per standard compliance rules
  controllers/etcdcopybackupstask/reconciler_test.go
  hack/e2e-test/infrastructure/overlays/aws/common/files/common.sh
  pkg/health/condition/check_backup_ready.go
Labels: area/backup, area/security, kind/task, kind/test, needs/ok-to-test, needs/rebase, needs/review, platform/aws, size/xs, area/compliance

#587 Etcd controller shouldn't removes the scale-up annotation until scale-up succeeds
  pkg/component/etcd/statefulset/statefulset.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#593 Enhance test cases to scale single-node `etcd` to multi-node `etcd` cluster
  test/e2e/etcd_multi_node_test.go
Labels: area/high-availability, kind/enhancement, kind/test, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, area/testing

#598 Fixes scaleup from single-node to multi-node etcd cluster
  controllers/etcd/reconciler.go
  pkg/component/etcd/lease/lease.go
  pkg/component/etcd/lease/lease_member.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/health/etcdmember/check_ready.go
  pkg/health/etcdmember/check_ready_test.go
  pkg/utils/lease.go
  pkg/utils/statefulset.go
Labels: area/control-plane, area/high-availability, kind/bug, needs/ok-to-test, needs/second-opinion, size/xl, merge/squash

#602 Cherry-pick commits for release v0.18.0
  charts/images.yaml
  controllers/etcd/reconciler.go
  pkg/component/etcd/lease/lease.go
  pkg/component/etcd/lease/lease_member.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/health/etcdmember/check_ready.go
  pkg/health/etcdmember/check_ready_test.go
  pkg/utils/lease.go
  pkg/utils/statefulset.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#569 Added support for compaction metrics in druid.
  controllers/compaction/metrics.go
  controllers/compaction/reconciler.go
  docs/development/metrics.md
  go.mod
  pkg/metrics/metrics.go
  pkg/metrics/metrics_suite_test.go
  pkg/metrics/metrics_test.go
Labels: area/disaster-recovery, kind/technical-debt, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#599 Update `Makefile` for simplified local development using `Skaffold`
  Makefile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted
