Repository gardener/etcd-druid, pull requests merged in 2023-10, with the labels that each got.

#681 Drop support for `PodDisruptionBudget`s with API version `policy/v1beta1`
  .docforge/manifest.yaml
  controllers/etcd/reconciler.go
  docs/usage/supported_k8s_versions.md
  go.mod
  pkg/component/etcd/poddisruptionbudget/poddisruptionbudget.go
  pkg/component/etcd/poddisruptionbudget/poddisruptionbudget_test.go
  pkg/utils/k8sversion.go
  pkg/utils/k8sversion_test.go
  pkg/utils/utils_test.go
Labels: area/control-plane, kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#688 Stop watching leases for custodian controller
  charts/druid/templates/controller-deployment.yaml
  controllers/compaction/register.go
  controllers/custodian/reconciler.go
  controllers/custodian/register.go
  controllers/etcd/register.go
  controllers/predicate/predicate.go
  controllers/predicate/predicate_suite_test.go
  controllers/predicate/predicate_test.go
  controllers/secret/register.go
  test/integration/controllers/custodian/reconciler_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#696 Correct document detailing k8s versions supported by `etcd-druid` versions
  docs/usage/supported_k8s_versions.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#686 Add a sleep duration of 60 second through a flag to compaction job.
  controllers/compaction/config.go
  controllers/compaction/reconciler.go
  test/integration/controllers/compaction/compaction_suite_test.go
  test/integration/controllers/compaction/reconciler_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#699 github.com/gardener/etcd-backup-restore:v0.24.4->v0.24.5
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#701 [Bug] Fix Replica Count Update Bug in Custodian Controller
  controllers/custodian/reconciler.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#682 Add local provider support for compaction
  controllers/compaction/reconciler.go
  test/integration/controllers/compaction/reconciler_test.go
  test/utils/etcd.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#712 Bump etcd-backup-restore `v0.24.6` and etcd-custom-image `v3.4.26-3`
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#715 Resolve Replica Count Updating Issue in Custodian Controller
  controllers/custodian/reconciler.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#714 Added the alpine image used for init containers to the image vector
  charts/images.yaml
  controllers/compaction/reconciler.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
  pkg/utils/image.go
  pkg/utils/image_test.go
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, merge/squash

#716 [hotfix-v0.20] Added the alpine image used for init containers to the image vector
  charts/images.yaml
  controllers/compaction/reconciler.go
  controllers/etcd/reconciler.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values.go
  pkg/component/etcd/statefulset/values_helper.go
  pkg/utils/image.go
  pkg/utils/image_test.go
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
