Repository gardener/etcd-druid, pull requests merged in 2023-04, with the labels that each got.

#553 Refactor `Etcdcopybackupstask` to eliminate Helm chart
  api/v1alpha1/types_etcdcopybackupstask.go
  charts/etcd-copy-backups/Chart.yaml
  charts/etcd-copy-backups/templates/etcd-copy-backups-job.yaml
  charts/etcd-copy-backups/values.yaml
  controllers/etcdcopybackupstask/chart.go
  controllers/etcdcopybackupstask/chart_test.go
  controllers/etcdcopybackupstask/reconciler.go
  controllers/etcdcopybackupstask/reconciler_test.go
  pkg/common/constants.go
  pkg/component/etcd/statefulset/statefulset.go
  pkg/utils/image.go
  test/integration/controllers/etcdcopybackupstask/etcdcopybackupstask_suite_test.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
  test/utils/etcdcopybackupstask.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, merge/squash

#572 Fix gardener hack/.ci permissions
  Makefile
  vendor/github.com/gardener/gardener/hack/.ci/component_descriptor
  vendor/github.com/gardener/gardener/hack/.ci/prepare_release
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
Labels: area/delivery, kind/bug, needs/review, reviewed/ok-to-test, size/xs

#570 Adapt `etcdbrctl` dir path flags
  controllers/compaction/reconciler.go
  pkg/component/etcd/statefulset/statefulset_test.go
  pkg/component/etcd/statefulset/values_helper.go
  test/integration/controllers/compaction/reconciler_test.go
  test/integration/controllers/etcd/reconciler_test.go
Labels: area/performance, kind/task, needs/ok-to-test, needs/review, size/s

#571 declare resource-id from resources from remote component
  charts/images.yaml
Labels: area/delivery, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#575 Update etcd custom image version to v3.4.13-bootstrap-10
  api/v1alpha1/types_etcd_test.go
  charts/images.yaml
  test/utils/etcd.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#538 Refactor `Role` Helm charts into component
  api/v1alpha1/types_etcd.go
  api/v1alpha1/types_etcd_test.go
  charts/etcd/templates/etcd-role.yaml
  controllers/etcd/reconciler.go
  pkg/component/etcd/role/role.go
  pkg/component/etcd/role/role_suite_test.go
  pkg/component/etcd/role/role_test.go
  pkg/component/etcd/role/values.go
  pkg/component/etcd/role/values_helper.go
  pkg/component/etcd/role/values_helper_test.go
  test/integration/controllers/etcd/reconciler_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#539 Refactor `RoleBinding` Helm charts into component
  api/v1alpha1/types_etcd.go
  api/v1alpha1/types_etcd_test.go
  charts/etcd/templates/etcd-rolebinding.yaml
  controllers/etcd/reconciler.go
  pkg/component/etcd/rolebinding/rolebinding.go
  pkg/component/etcd/rolebinding/rolebinding_suite_test.go
  pkg/component/etcd/rolebinding/rolebinding_test.go
  pkg/component/etcd/rolebinding/values.go
  pkg/component/etcd/rolebinding/values_helper.go
  pkg/component/etcd/rolebinding/values_helper_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#547 Enabled Druid to use localstack to run e2e tests for multinode
  .gitignore
  Makefile
  docs/development/local-e2e-tests.md
  go.mod
  go.sum
  hack/ci-e2e-kind.sh
  hack/deploy-localstack.sh
  hack/e2e-test/infrastructure/kind/cluster.yaml
  hack/e2e-test/infrastructure/localstack/localstack.yaml
  hack/e2e-test/infrastructure/overlays/aws/common/aws.env
  hack/e2e-test/infrastructure/overlays/aws/common/files/common.sh
  test/e2e/utils.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/etcdutil/client/option.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/etcdutil/client/types.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/abs_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/ecs_s3_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/gcs_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/generic_s3_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/init.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/ocs_s3_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/oss_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/s3_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/swift_snapstore.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/snapstore/utils.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/compactor.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/etcdconnection.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/exponentialbackoff.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/health.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/leaderelection.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/ownercheck.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/restorer.go
  vendor/github.com/gardener/etcd-backup-restore/pkg/types/snapstore.go
  vendor/modules.txt
Labels: kind/test, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl, area/testing

#578 declare resource-id from resources from remote component (#571)
  charts/images.yaml
Labels: area/delivery, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#577 declare resource-id from resources from remote component (#571)
  charts/images.yaml
Labels: area/delivery, needs/ok-to-test, needs/review, size/xs

#579 Upgrade to go 1.20.3
  .ci/pipeline_definitions
  Dockerfile
  pkg/component/etcd/poddisruptionbudget/values.go
  pkg/component/etcd/poddisruptionbudget/valueshelper.go
  test/utils/etcdcopybackupstask.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
