Repository gardener/etcd-druid, pull requests merged in 2024-11, with the labels that each got.

#906 Use full snapshot interval to compute Backup Ready conditions
  go.mod
  internal/health/condition/check_backup_ready.go
  internal/utils/miscellaneous.go
Labels: area/backup, area/monitoring, kind/bug, needs/ok-to-test, needs/review, size/s

#909 Introducing mkdocs generated github pages for etcd-druid documentation
  .github/workflows/publish-docs.yml
  Makefile
  README.md
  docs/api-reference/etcd-druid-api.md
  docs/assets/css/custom.css
  docs/concepts/etcd-cluster-components.md
  docs/deployment/configure-etcd-druid.md
  docs/deployment/getting-started-locally/getting-started-locally.md
  docs/deployment/getting-started-locally/manage-azurite-emulator.md
  docs/deployment/getting-started-locally/manage-s3-emulator.md
  docs/deployment/production-setup-recommendations.md
  docs/development/changing-api.md
  docs/development/controllers.md
  docs/development/dependency-management.md
  docs/development/getting-started-locally.md
  docs/development/prepare-dev-environment.md
  docs/development/raising-a-pr.md
  docs/development/running-e2e-tests.md
  docs/development/testing.md
  docs/index.md
  docs/proposals/00-template.md
  docs/proposals/01-multi-node-etcd-clusters.md
  docs/proposals/02-snapshot-compaction.md
  docs/proposals/03-scaling-up-an-etcd-cluster.md
  docs/proposals/04-etcd-member-custom-resource.md
  docs/proposals/05-etcd-operator-tasks.md
  docs/usage/managing-etcd-clusters.md
  docs/usage/recovering-etcd-clusters.md
  docs/usage/securing-etcd-clusters.md
  hack/api-reference/config.yaml
  hack/demo/etcd-druid-demo.tape
  hack/tools.mk
  mkdocs.yml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#912 removed unneeded mkdocs branch from getting tracked for doc changes
  .github/workflows/publish-docs.yml
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#915 Fix to allow etcd-druid to patch STS when there is only a change of mount-path even if all pods are not up and running
  internal/common/constants.go
  internal/component/clientservice/clientservice.go
  internal/component/clientservice/clientservice_test.go
  internal/component/peerservice/peerservice.go
  internal/component/peerservice/peerservice_test.go
  internal/component/statefulset/builder.go
  internal/component/statefulset/statefulset.go
  internal/utils/statefulset.go
  internal/utils/statefulset_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#918 [CherryPick-915] Fix to allow etcd-druid to patch STS when there is only a change of m…
  internal/common/constants.go
  internal/component/clientservice/clientservice.go
  internal/component/clientservice/clientservice_test.go
  internal/component/peerservice/peerservice.go
  internal/component/peerservice/peerservice_test.go
  internal/component/statefulset/builder.go
  internal/component/statefulset/statefulset.go
  internal/utils/statefulset.go
  internal/utils/statefulset_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/m

#919 Fixed some github pages links
  docs/deployment/configure-etcd-druid.md
  docs/deployment/getting-started-locally/getting-started-locally.md
  docs/development/controllers.md
  docs/usage/managing-etcd-clusters.md
  docs/usage/recovering-etcd-clusters.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#924 Upgrade dependency on `github.com/gardener/etcd-backup-restore` to `v0.31.0`.
  go.mod
  go.sum
  internal/images/images.yaml
  test/e2e/utils.go
Labels: area/backup, area/delivery, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#920 Added doc on how to contribute to the documentation
  docs/development/updating-documentation.md
  mkdocs.yml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/s

#927 Upgrade dependency on `github.com/gardener/etcd-backup-restore` to `v0.31.1`.
  go.mod
  go.sum
  internal/images/images.yaml
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#925 Use `x.y.0` versions of the Go Toolchain only.
  go.mod
Labels: area/delivery, needs/ok-to-test, needs/review, size/xs

#928 [hotfix-v0.24] Upgrade dependency on `github.com/gardener/etcd-backup-restore` to `v0.31.1`. (#927)
  go.mod
  go.sum
  internal/images/images.yaml
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/xs, dependencies

#929 [hotfix-v0.24] Use `x.y.0` versions of the Go Toolchain only. (#925)
  go.mod
Labels: area/delivery, kind/task, needs/ok-to-test, needs/review, reviewed/ok-to-test, size/xs

#916 Upgrade the `alpine` image version to `3.20.3`.
  internal/images/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, dependencies, area/compliance

#933 Update e2e test infra ubuntu image
  Makefile
  hack/e2e-test/infrastructure/base/job.yaml
  test/e2e/utils.go
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#812 Enhance Etcd configMap to provide consistency and controllability
  api/v1alpha1/etcd.go
  api/v1alpha1/etcd_test.go
  api/v1alpha1/helper.go
  api/v1alpha1/helper_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/druid/charts/crds/templates/crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/crd-druid.gardener.cloud_etcds.yaml
  docs/api-reference/etcd-druid-api.md
  docs/proposals/03-scaling-up-an-etcd-cluster.md
  docs/usage/recovering-etcd-clusters.md
  internal/component/configmap/configmap_test.go
  internal/component/configmap/etcdconfig.go
  test/e2e/etcd_backup_test.go
  test/e2e/utils.go
  test/it/setup/setup.go
  test/utils/etcd.go
Labels: area/quality, kind/enhancement, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#936 Promote `UseEtcdWrapper` feature gate to GA
  charts/druid/values.yaml
  docs/deployment/feature-gates.md
  internal/component/statefulset/builder.go
  internal/component/statefulset/statefulset.go
  internal/component/statefulset/statefulset_test.go
  internal/component/statefulset/stsmatcher.go
  internal/controller/compaction/config.go
  internal/controller/compaction/reconciler.go
  internal/controller/etcd/config.go
  internal/controller/etcd/reconciler.go
  internal/controller/etcdcopybackupstask/config.go
  internal/controller/etcdcopybackupstask/reconciler.go
  internal/controller/etcdcopybackupstask/reconciler_test.go
  internal/features/features.go
  internal/images/images.yaml
  internal/utils/image.go
  internal/utils/image_test.go
  skaffold.yaml
  test/it/controller/etcd/helper.go
  test/utils/constants.go
  test/utils/imagevector.go
Labels: area/open-source, area/quality, area/usability, kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l
