Repository gardener/etcd-druid, pull requests merged in 2024-10, with the labels that each got.

#888 Add additional latest tag to images during release
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#883 Fixes Label-Selector, Pod Template label updates and TLS changes for client and peer communication
  api/v1alpha1/etcd.go
  internal/component/clientservice/clientservice.go
  internal/component/clientservice/clientservice_test.go
  internal/component/configmap/configmap.go
  internal/component/configmap/configmap_test.go
  internal/component/memberlease/memberlease.go
  internal/component/memberlease/memberlease_test.go
  internal/component/peerservice/peerservice.go
  internal/component/peerservice/peerservice_test.go
  internal/component/poddistruptionbudget/poddisruptionbudget.go
  internal/component/poddistruptionbudget/poddisruptionbudget_test.go
  internal/component/role/role.go
  internal/component/role/role_test.go
  internal/component/rolebinding/rolebinding.go
  internal/component/rolebinding/rolebinding_test.go
  internal/component/serviceaccount/serviceaccount.go
  internal/component/serviceaccount/serviceaccount_test.go
  internal/component/snapshotlease/snapshotlease.go
  internal/component/snapshotlease/snapshotlease_test.go
  internal/component/statefulset/builder.go
  internal/component/statefulset/statefulset.go
  internal/component/types.go
  internal/controller/etcd/reconcile_delete.go
  internal/controller/etcd/reconcile_spec.go
  internal/controller/etcdcopybackupstask/reconciler.go
  internal/controller/utils/etcdstatus.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/health/condition/check_ready_test.go
  internal/health/etcdmember/check_ready.go
  internal/images/images.yaml
  internal/utils/labels.go
  internal/utils/labels_test.go
  internal/utils/lease.go
  internal/utils/lease_test.go
  internal/utils/statefulset.go
  internal/webhook/etcdcomponents/handler.go
  main.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/xl

#895 Etcd components webhook allows druid to always update its managed resources
  hack/test.sh
  internal/webhook/etcdcomponents/handler.go
  internal/webhook/etcdcomponents/handler_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#889 Update etcd-druid documentation and enhance kind-up script to start a local kind registry container
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  charts/druid/templates/clusterrole.yaml
  charts/druid/templates/deployment.yaml
  charts/druid/templates/rolebinding.yaml
  charts/druid/templates/serviceaccount.yaml
  docs/README.md
  docs/assets/images/tls-communication-lines.excalidraw.png
  docs/assets/logo/etcd-druid-logo.png
  docs/assets/logo/etcd-druid-with-tagline.png
  docs/benchmark/etcd-network-latency.md
  docs/concepts/etcd-cluster-components.md
  docs/concepts/etcd-cluster-resource-protection.md
  docs/concepts/webhooks.md
  docs/deployment/cli-flags.md
  docs/deployment/configure-etcd-druid.md
  docs/deployment/feature-gates.md
  docs/deployment/getting-started-locally/getting-started-locally.md
  docs/deployment/getting-started-locally/manage-azurite-emulator.md
  docs/deployment/getting-started-locally/manage-s3-emulator.md
  docs/deployment/production-setup-recommendations.md
  docs/deployment/version-compatibility-matrix.md
  docs/development/add-new-etcd-cluster-component.md
  docs/development/changing-api.md
  docs/development/contribution.md
  docs/development/controllers.md
  docs/development/dependency-management.md
  docs/development/getting-started-locally-azurite.md
  docs/development/getting-started-locally-localstack.md
  docs/development/getting-started-locally.md
  docs/development/prepare-dev-environment.md
  docs/development/raising-a-pr.md
  docs/development/running-e2e-tests.md
  docs/monitoring/metrics.md
  docs/operations/recovery-from-permanent-quorum-loss-in-etcd-cluster.md
  docs/operations/restoring-single-member-in-multi-node-etcd-cluster.md
  docs/usage/managing-etcd-clusters.md
  docs/usage/recovering-etcd-clusters.md
  docs/usage/securing-etcd-clusters.md
  docs/usage/supported_k8s_versions.md
  go.mod
  hack/demo/etcd-druid-demo.tape
  hack/kind-down.sh
  hack/kind-up.sh
  hack/kind/cluster.yaml
  hack/tools.mk
Labels: area/dev-productivity, area/documentation, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#900 Fixed predicates to allow events for Etcd resource that have never been reconciled before
  internal/controller/etcd/register.go
  internal/controller/etcd/register_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#902 [hotfix-v0.23] Etcd components webhook allows druid to always update its managed resources
  hack/test.sh
  internal/webhook/etcdcomponents/handler.go
  internal/webhook/etcdcomponents/handler_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/m

#903 [hotfix-v0.23] Update etcd-druid documentation and enhance kind-up script to start a local kind registry container
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  charts/druid/templates/clusterrole.yaml
  charts/druid/templates/deployment.yaml
  charts/druid/templates/rolebinding.yaml
  charts/druid/templates/serviceaccount.yaml
  docs/README.md
  docs/assets/images/tls-communication-lines.excalidraw.png
  docs/assets/logo/etcd-druid-logo.png
  docs/assets/logo/etcd-druid-with-tagline.png
  docs/benchmark/etcd-network-latency.md
  docs/concepts/etcd-cluster-components.md
  docs/concepts/etcd-cluster-resource-protection.md
  docs/concepts/webhooks.md
  docs/deployment/cli-flags.md
  docs/deployment/configure-etcd-druid.md
  docs/deployment/feature-gates.md
  docs/deployment/getting-started-locally/getting-started-locally.md
  docs/deployment/getting-started-locally/manage-azurite-emulator.md
  docs/deployment/getting-started-locally/manage-s3-emulator.md
  docs/deployment/production-setup-recommendations.md
  docs/deployment/version-compatibility-matrix.md
  docs/development/add-new-etcd-cluster-component.md
  docs/development/changing-api.md
  docs/development/contribution.md
  docs/development/controllers.md
  docs/development/dependency-management.md
  docs/development/getting-started-locally-azurite.md
  docs/development/getting-started-locally-localstack.md
  docs/development/getting-started-locally.md
  docs/development/prepare-dev-environment.md
  docs/development/raising-a-pr.md
  docs/development/running-e2e-tests.md
  docs/monitoring/metrics.md
  docs/operations/recovery-from-permanent-quorum-loss-in-etcd-cluster.md
  docs/operations/restoring-single-member-in-multi-node-etcd-cluster.md
  docs/usage/managing-etcd-clusters.md
  docs/usage/recovering-etcd-clusters.md
  docs/usage/securing-etcd-clusters.md
  docs/usage/supported_k8s_versions.md
  go.mod
  hack/demo/etcd-druid-demo.tape
  hack/kind-down.sh
  hack/kind-up.sh
  hack/kind/cluster.yaml
  hack/tools.mk
Labels: area/dev-productivity, area/documentation, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#904 [hotfix-v0.23] Fixed predicates to allow events for Etcd resource that have never been reconciled before
  internal/controller/etcd/register.go
  internal/controller/etcd/register_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#901 Minor fixes to etcd-druid documentation
  docs/assets/logo/etcd-druid-logo.png
  docs/assets/logo/etcd-druid-transparentbg.png
  docs/assets/logo/etcd-druid-whitebg.png
  docs/deployment/getting-started-locally/manage-azurite-emulator.md
  docs/deployment/getting-started-locally/manage-s3-emulator.md
  docs/development/controllers.md
  docs/development/raising-a-pr.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
