Repository gardener/etcd-druid, pull requests merged in 2024-12, with the labels that each got.

#948 Update dependencies
  charts/druid/charts/crds/templates/crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  charts/druid/charts/crds/templates/crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  config/crd/bases/crd-druid.gardener.cloud_etcds.yaml
  config/rbac/role.yaml
  docs/api-reference/etcd-druid-api.md
  go.mod
  go.sum
  internal/controller/etcd/reconciler.go
  internal/controller/etcd/register.go
  internal/controller/etcd/register_test.go
  internal/controller/etcdcopybackupstask/reconciler_test.go
  internal/controller/register.go
  internal/controller/secret/register.go
  internal/images/embed.go
  internal/mock/controller-runtime/client/mocks.go
  internal/mock/controller-runtime/manager/mocks.go
  internal/webhook/etcdcomponents/register.go
  internal/webhook/util/decode.go
  test/integration/controllers/etcdcopybackupstask/reconciler_test.go
  test/it/controller/etcd/helper.go
  test/it/controller/etcd/reconciler_test.go
  test/utils/imagevector.go
Labels: area/dev-productivity, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#951 Fixed broken links - 2024.12
  docs/deployment/configure-etcd-druid.md
  docs/index.md
  docs/proposals/05-etcd-operator-tasks.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#953 Update golang.org/x/crypto and golang.org/x/net dependencies
  go.mod
  go.sum
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/s

#954 Upgrade `kind`, `kindest/node` and `kubectl` in `hack/`
  hack/kind-up.sh
  hack/tools.mk
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#952 Introduce `gosec` for Static Application Security Testing (SAST)
  .ci/check
  .ci/pipeline_definitions
  .gitignore
  Makefile
  hack/sast.sh
  hack/tools.mk
  hack/tools/install-gosec.sh
  internal/common/constants.go
  internal/component/poddistruptionbudget/poddisruptionbudget.go
  internal/component/statefulset/statefulset.go
  internal/health/condition/check_all_members.go
  internal/webhook/etcdcomponents/config.go
  test/e2e/utils.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/m

#955 Update golang images to 1.23.4
  .ci/pipeline_definitions
  Dockerfile
Labels: area/performance, kind/task, needs/ok-to-test, needs/review, size/xs

#947 Refactor skaffold profiles to use manifests field instead of patches
  skaffold.yaml
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#958 Don't set environment variable `AZURE_EMULATOR_ENABLED` for etcd pods
  config/samples/etcd-secret-azurite.yaml
  go.mod
  go.sum
  hack/ci-e2e-kind-azure.sh
  hack/kind/cluster.yaml
  internal/common/constants.go
  internal/images/images.yaml
  internal/store/store.go
  test/e2e/etcd_multi_node_test.go
  test/e2e/utils.go
  test/integration/controllers/compaction/reconciler_test.go
Labels: area/security, kind/task, needs/ok-to-test, needs/review, reviewed/do-not-merge, size/s, area/compliance
