Repository gardener/etcd-druid, pull requests merged in 2025-02, with the labels that each got.

#987 Introduce new Etcd status condition `AllMembersUpdated`
  api/v1alpha1/conditions.go
  api/v1alpha1/etcd.go
  docs/api-reference/etcd-druid-api.md
  internal/health/condition/builder.go
  internal/health/condition/check_all_members_ready.go
  internal/health/condition/check_all_members_ready_test.go
  internal/health/condition/check_all_members_updated.go
  internal/health/condition/check_all_members_updated_test.go
  internal/health/condition/check_backup_ready.go
  internal/health/condition/check_data_volumes_ready.go
  internal/health/status/check.go
  internal/health/status/check_test.go
  internal/webhook/etcdcomponents/handler.go
  test/it/controller/etcd/reconciler_test.go
  test/utils/etcd.go
Labels: area/control-plane, area/monitoring, area/ops-productivity, area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#990 Remove deprecated API fields, CLI flag and annotation
  api/v1alpha1/constants.go
  api/v1alpha1/etcd.go
  api/v1alpha1/helper.go
  api/v1alpha1/helper_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/druid/charts/crds/templates/crd-druid.gardener.cloud_etcds.yaml
  config/crd/bases/crd-druid.gardener.cloud_etcds.yaml
  docs/api-reference/etcd-druid-api.md
  docs/deployment/configure-etcd-druid.md
  docs/usage/managing-etcd-clusters.md
  internal/controller/etcd/config.go
  internal/controller/etcd/reconcile_spec.go
  internal/controller/etcd/reconcile_status.go
  internal/controller/etcd/register.go
  test/utils/etcd.go
Labels: area/usability, kind/task, kind/cleanup, needs/ok-to-test, needs/review, size/m

#884 Add DEP-06: Immutable ETCD Backups
  docs/README.md
  docs/proposals/06-immutable-etcd-backups.md
Labels: area/backup, area/disaster-recovery, area/documentation, area/security, area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/compliance

#996 Update `observedGeneration` in reconcileStatus flow instead of reconcileSpec flow
  internal/controller/etcd/reconcile_complete.go
  internal/controller/etcd/reconcile_spec.go
  internal/controller/etcd/reconciler.go
  internal/health/condition/check_all_members_updated_test.go
  internal/utils/miscellaneous_test.go
  test/it/controller/etcd/reconciler_test.go
Labels: area/usability, kind/impediment, needs/ok-to-test, needs/second-opinion, size/l

#1009 Update alpine image to `3.21.3`
  internal/images/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#999 Remove `UseEtcdWrapper` feature gate
  docs/concepts/etcd-cluster-components.md
  docs/deployment/feature-gates.md
  docs/deployment/version-compatibility-matrix.md
  internal/component/statefulset/builder.go
  internal/features/features.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, needs/review, size/s

#1000 Upgrade to `go1.23.6`.
  .ci/pipeline_definitions
  Dockerfile
Labels: area/quality, area/security, kind/task, needs/ok-to-test, reviewed/lgtm, size/xs, area/compliance
