Repository gardener/etcd-druid, pull requests merged in 2025-06, with the labels that each got.

#1118 Correct the group name for `OperatorConfiguration` everywhere.
  .gitignore
  api/config/v1alpha1/doc.go
  charts/templates/_helpers.tpl
  cmd/opts/testdata/operatorconfig.yaml
  docs/api-reference/etcd-druid-api.md
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#1122 Update golang version to `1.24.4`
  .ci/pipeline_definitions
  Dockerfile
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#1117 Support disabling creation of etcd runtime components
  api/core/v1alpha1/constants.go
  api/core/v1alpha1/helper.go
  api/core/v1alpha1/helper_test.go
  docs/usage/managing-etcd-clusters.md
  hack/ci-e2e-kind.sh
  internal/component/statefulset/builder.go
  internal/component/statefulset/statefulset_test.go
  internal/component/statefulset/stsmatcher.go
  internal/controller/etcd/reconcile_spec.go
  internal/controller/etcd/reconcile_status.go
  internal/controller/etcd/reconciler.go
  internal/webhook/etcdcomponentprotection/handler.go
  internal/webhook/etcdcomponentprotection/handler_test.go
  internal/webhook/utils/miscellaneous.go
  test/it/controller/etcd/assertions.go
  test/it/controller/etcd/reconciler_test.go
Labels: area/control-plane, kind/enhancement, kind/task, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/l

#1125 Add missing backup-restore TLS secrets to secret controller
  api/core/v1alpha1/etcd_test.go
  internal/controller/secret/mapper.go
  internal/controller/secret/mapper_test.go
  internal/controller/secret/reconciler.go
  test/integration/controllers/secret/reconciler_test.go
  test/utils/constants.go
  test/utils/etcd.go
Labels: needs/ok-to-test, needs/review, size/m
